include ../components/mixins/mixins.pug


//- ========================== BANNER PRICE ====================
- 
	let bannerPriceTitle = [
		'Bohauss',
		'Назва якась-2',
		'Това ще один-3',
		'Ну і зовсім пушка-4',
	]
- 
	let bannerPriceText = [
		'Luxury big sofa 2-seat',
		'Якась назва чогось-2',
		'Ще щось цікаве про щось-3',
		'Ні і що дуже крутяцьке-4',
	]
- 
	let bannerPricePrice = [
		'12 000 грн',
		'13 000 грн',
		'11 000 грн',
		'17 000 грн',
	]
//- ============================================================
//- =================================== PRODUCTS ===================================
-	
	let imgArray = [
		["@img//products/0.png", "@img//products/0-1.png", "@img//products/0-2.png"],
		["@img//products/1.png", "@img//products/1-1.png", "@img//products/1-2.png"],
		["@img//products/2.png", "@img//products/2-1.png", "@img//products/2-2.png"],
		["@img//products/3.png", "@img//products/3-1.png", "@img//products/3-2.png"],
		["@img//products/4.png", "@img//products/4-1.png", "@img//products/4-2.png"],
		["@img//products/5.png", "@img//products/5-1.png", "@img//products/5-2.png"],
		["@img//products/6.png", "@img//products/6-1.png", "@img//products/6-2.png"],
		["@img//products/7.png", "@img//products/7-1.png", "@img//products/7-2.png"],
		["@img//products/8.png", "@img//products/8-1.png", "@img//products/8-2.png"],
		["@img//products/9.png", "@img//products/9-1.png", "@img//products/9-2.png"],
		["@img//products/10.png", "@img//products/10-1.png", "@img//products/10-2.png"],
		["@img//products/11.png", "@img//products/11-1.png", "@img//products/11-2.png"]
		//- undefined
	];

- var altImgArray = ['door1', 'door2', 'door3', 'door4', 'door5', 'door6', 'door7', 'door8', 'door9', 'door10', 'door11', 'door12'];
-	
	let titleArray = [
		`Syltherine`,
		`Lolito`,
		`Respira`,
		`Grifo`,
		`Muggo`,
		'Pingky',
		'Pingky',
		'Greenke',
		'Preenki',
		'Sow buty',
		'Щось круте',
		'DESPIRA',
		//- undefined
	];
-	
	let textArray = [
		`Stylish cafe chair`,
		`Luxury big sofa`,
		`Minimalist fan`,
		`Night lamp`,
		`Small mug`,
		`Cute bed set`,
		`Cute bed set`,
		'Fly the garden',
		'Якась штуковина',
		'Та давай і це продамо',
		'А це також треба',
		'Крута коротка фраза',
		//- undefined
	];
-	
	let priceArray = [
		2500,
		7000,
		5000,
		15000,
		1500,
		3400,
		3800,
		3900,
		4500,
		9100,
		4500,
		2560,
		//- undefined
	];
-
	let popupCardText = [
		//- `ntrcn`
		["ПРОБА 1 Twin duvet cover set in soft, woven fabric made from a Tencel™lyocell and cotton blend with a printed pattern. One pillowcase. Thread count 144.",
		"Composition —",
		"Cotton 50%, Lyocell 50%", 
		"Art. No. —",
		"0643448004"],
		["ПРОБА 2 Twin duvet cover set in soft, woven fabric made from a Tencel™lyocell and cotton blend with a printed pattern. One pillowcase. Thread count 144.",
		"Composition —",
		"Cotton 50%, Lyocell 50%", 
		"Art. No. —",
		"0643448004"],
		["ПРОБА 3 Twin duvet cover set in soft, woven fabric made from a Tencel™lyocell and cotton blend with a printed pattern. One pillowcase. Thread count 144.",
		"Composition —",
		"Cotton 50%, Lyocell 50%", 
		"Art. No. —",
		"0643448004"],
		["ПРОБА 4 Twin duvet cover set in soft, woven fabric made from a Tencel™lyocell and cotton blend with a printed pattern. One pillowcase. Thread count 144.",
		"Composition —",
		"Cotton 50%, Lyocell 50%", 
		"Art. No. —",
		"0643448004"],
		["ПРОБА 5 Twin duvet cover set in soft, woven fabric made from a Tencel™lyocell and cotton blend with a printed pattern. One pillowcase. Thread count 144.",
		"Composition —",
		"Cotton 50%, Lyocell 50%", 
		"Art. No. —",
		"0643448004"],
		["ПРОБА 6 Twin duvet cover set in soft, woven fabric made from a Tencel™lyocell and cotton blend with a printed pattern. One pillowcase. Thread count 144.",
		"Composition —",
		"Cotton 50%, Lyocell 50%", 
		"Art. No. —",
		"0643448004"],
		["ПРОБА 7 Twin duvet cover set in soft, woven fabric made from a Tencel™lyocell and cotton blend with a printed pattern. One pillowcase. Thread count 144.",
		"Composition —",
		"Cotton 50%, Lyocell 50%", 
		"Art. No. —",
		"0643448004"],
		["ПРОБА 8 Twin duvet cover set in soft, woven fabric made from a Tencel™lyocell and cotton blend with a printed pattern. One pillowcase. Thread count 144.",
		"Composition —",
		"Cotton 50%, Lyocell 50%", 
		"Art. No. —",
		"0643448004"],
		["ПРОБА 9 Twin duvet cover set in soft, woven fabric made from a Tencel™lyocell and cotton blend with a printed pattern. One pillowcase. Thread count 144.",
		"Composition —",
		"Cotton 50%, Lyocell 50%", 
		"Art. No. —",
		"0643448004"],
		["ПРОБА 10 Twin duvet cover set in soft, woven fabric made from a Tencel™lyocell and cotton blend with a printed pattern. One pillowcase. Thread count 144.",
		"Composition —",
		"Cotton 50%, Lyocell 50%", 
		"Art. No. —",
		"0643448004"],
		["ПРОБА 11 Twin duvet cover set in soft, woven fabric made from a Tencel™lyocell and cotton blend with a printed pattern. One pillowcase. Thread count 144.",
		"Composition —",
		"Cotton 50%, Lyocell 50%", 
		"Art. No. —",
		"0643448004"],
		["ПРОБА 12 Twin duvet cover set in soft, woven fabric made from a Tencel™lyocell and cotton blend with a printed pattern. One pillowcase. Thread count 144.",
		"Composition —",
		"Cotton 50%, Lyocell 50%", 
		"Art. No. —",
		"0643448004"]

		//- [Conscious Twin duvet cover set in soft, woven fabric made from a Tencel™lyocell and cotton blend with a printed pattern. One pillowcase. Thread count 144.]
	];

//- ====================================================================

//- =========================== SWIPER TWO SLIDES VAR ==============
-
	let swiperTwoImgArray = [
		"@img//inspiration/1.png",
		"@img//inspiration/2.png",
		"@img//inspiration/3.png",
		"@img//inspiration/2.png",
		"@img//inspiration/1.png",
		"@img//inspiration/3.png",
	];

- 
	var altSwiperTwoImgArray = ['door1', 'door2', 'door3', 'door4', 'door5', 'door6'];

	let swiperTwoCtgName = [
		"01 - Вхідні двері",
		"02 - Міжкімнатні двері",
		"03 - Ворота",
		"45 - Жалюзі",
		"36 - Ще щось",
		"78 - І ще якась штука",
	];
-
	let swiperTwoPrdName = [
		"Назва дверей",
		"Назва 2 дверей",
		"Назва воріт",
		"Назва жалюзей",
		"Назва чогось",
		"Назва штуки",
	];
//- ==============================================================================

//- =========================== SWIPER THREE SLIDES VAR ==============
-
	let swiperThreeImgArray = [
		"@img//tips/1.png",
		"@img//tips/2.png",
		"@img//tips/3.png",
		"@img//tips/2.png",
		"@img//tips/1.png",
		"@img//tips/3.png",
	];

- 
	var altSwiperThreeImgArray = ['tips1', 'tips2', 'tips3', 'tips4', 'tips5', 'tips6'];

	let swiperThreeDate = [
		"20 jan 2020",
		"10 jan 2020",
		"20 jan 2020",
		"26 jan 2022",
		"15 may 2023",
		"30 jan 2018",
	];
-
	let swiperThreeCtgName = [
		"How to create a living room to love",
		"Solution for clean look working space",
		"Make your cooking activity more fun with good setup",
		"How to create a living room to love",
		"Make your cooking activity more fun with good setup",
		"Solution for clean look working space",
	];
//- =============================================================

//- =========================== GALLERY =======================================
-
	let galleryImgArray = [
		"@img//gallery/1.png",
		"@img//gallery/3.png",
		"@img//gallery/2.png",
		"@img//gallery/4.png",
		"@img//gallery/5.png",
		"@img//gallery/6.png",
		"@img//gallery/8.png",
		"@img//gallery/7.png",
		"@img//gallery/9.png",
	];

- 
	var altGalleryImgArray = ['gallery1', 'gallery2', 'gallery3', 'gallery4', 'gallery5', 'gallery6', 'gallery7', 'gallery8', 'gallery9'];


//- ========================== CALENDAR ====================
- 
	let calendarHours = [
		'8:00',
		'9:00',
		'10:00',
		'11:00',
		'12:00',
		'13:00',
		'14:00',
		'15:00',
		'16:00',
		'17:00',
		'18:00',
		'19:00',
		'20:00',
		'21:00',
		'22:00'
	]
//- ============================================================
- headerInfo = ["0123456789", "вул. Готельна 1, м. Ніжин"]
- socialName = ["Facebook", "Instagram", "Twitter"]
- socialLink = ["#", "#", "#"]
- socialClass = ["_fb", "_in", "_tw"]

//- ===========================================================================
//- ===========================================================================
- 
	let swiperRoomsTitle = [
		"Покращений <br> двомісний номер",
		"Покращений <br> одномісний номер",
		"Якийсь <br> крутезний номер",
		"Стандартний <br> двомісний номер",
		"Стандартний <br> одномісний номер",
		"Люкс <br> двомісний",
		"Люкс <br> одномісний",
		"Президентський <br> номер"
	]
- 
	let swiperRoomsText = [
		"Покращений двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Покращений крутезний номер ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Якийсь двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Стандартний двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Стандартний одномісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Люкс двомісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Люкс одномісний ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним",
		"Президентський номер ідеально підходить для тих, хто планує залишитися надовго. Простора та світла кімната обставлена ​​розкішними італійськими меблями та має прекрасний вид на історичну частину міста. Стильний дизайн інтер'єру та зручні ліжка зроблять Ваш відпочинок затишним та приємним"
	]
//- ===========================================================================

main.page
	section.page__main.main 
		.main__container 
			.main__content
				.main__title
					h1.main__hotel-title Reikartz 
					ul.main__tags-list
						li.tags__link 
							a(href="") кімнати//
						li.tags__link 
							a(href="") ресторан//
						li.tags__link 
							a(href="") конференс зал//
						li.tags__link 
							a(href="") винний бар
				.main__info 
					.main__info-date 
						span.date__hotel 
							img(src="@img/icons/Star_ellow.svg", alt="star")
							p з 2023 року
						.main__info-button.button._small
							+buttonSmall()
					p.text__hotel.text. 
						Розкішний готель у незламному Українському місті з
						ексклюзивним рестораном, конференц-залом та арт-баром.
			.main__img-wrapper 
				.main__images 
					img.main__img-room._img(src="@img/banner/01.jpg", alt="room")
					img.main__img-room._img._hide(src="@img/banner/01_1.jpg", alt="room")
					ul.check__list.banner 
						li.check-link.check-in 
							p дата поселення
							img(src="@img/icons/arow_ellow.svg", alt="arow")
						li.check-link.check-out 
							p дата виїзду
							img(src="@img/icons/arow_ellow.svg", alt="arow")
						li.check-link.check-rooms 
							p обрати номер
					.container 
						.calendar 
							.calendar-body 
								.calendar-body-wrapper 
									.calendar-week-title.calendar-title
										h3 обрати дату
									.calendar-header 
										span.month-picker#month-picker Березень
										.year-picker#year-picker 
											span.year-change#pre-year 
												pre <
											span#year 2023
											span.year-change#next-year 
												pre > 
									.calendar-week-days
										div пон
										div вів
										div сер
										div чет
										div птн
										div пнх
										div нед
									.calendar-days
								.calendar-hours-wrapper.show
									.calendar-hours-title.calendar-title
										h3 обрати годину
									.days-hours 
										div=calendarHours[0]
										div=calendarHours[1]
										div=calendarHours[2]
										div=calendarHours[3]
										div=calendarHours[4]
										div=calendarHours[5]
										div=calendarHours[6]
										div=calendarHours[7]
										div=calendarHours[8]
										div=calendarHours[9]
										div=calendarHours[10]
										div=calendarHours[11]
										div=calendarHours[12]
										div=calendarHours[13]
										div=calendarHours[14]
							.calendar-footer 
							.date-time-formate 
								.day-text-formate СЬОГОДНІ
								.date-time-value 
									.time-formate 15:50:20
									.date-formate 24 - 03 - 2023
								.show_checked-date
							.month-list
				.main__info-button.button._big
					p.yellow__button обрати номер
					+buttonBig()
			.main__actions 
				span.actions__column-first
					p.main__actions-telephone.info__telephone=headerInfo[0]
					p.main__actions-street=headerInfo[1]
				span.actions__column-second
					p.actions__art Art & Congress
					p.action__art hall
	section.page__about.about
		.about__contain-padding.about__container
			.about__column-1
				.about__images._big._pc
					img.about__img._pc(src="@img/reception/1 (2).jpg", alt="reception")
				.about__content._pc
					.content__title-wrapper(data-da=".about__column-1, 767, 0")
						h1.about__content-title.main__titles._about про
						h1.about__content-title.main__titles._us нас
					h3.about__content-sub-title.main__sub-titles висока якість
					.about__text-wrapper
						p.about__content-text.text._stamp-place. 
							У 2023 році готель Reikartz нарешті
							відкрився для відвідувачів. Будівля була відремонтована та модернізована, щоб
							задовольнити очікування найвибагливіших гостей. Ми пропонуємо розкішні номери,
							численні зручності та винятковий сервіс.
			.about__column-2
				.about__images._small
					.about__stamp.stamp.stamp-img(data-da="._stamp-place, 767, 1")
						.circular premium rooms. Reikartz hotel
						img.stamp__rotate(src="@img/icons/icon.svg", alt="icon_stamp")
					img.about__img._small(src="@img/reception/2.jpg", alt="reception",)
				.main__info-button.button._big
					div 
						h4 номери
						p.transparent__button та
						p.transparent__button апартаменти
					+buttonBig()
	section.page__rooms.rooms
		.rooms__container
			.rooms__page-content
				.rooms__page-title-title
					h1.rooms__content-title.main__titles._rooms кімнати & <br> апартаменти
				.rooms__page-title-text
					p.rooms__content-text.text.big-text. 
						Всі оздоблення кімнат виконані екологічно сертифікованими та безпечними матеріалами.
			.rooms__swiper
				.rooms__slider.swiper-container
					.swiper-wrapper
						+createSlideSwiperRooms(0)
						+createSlideSwiperRooms(1)
						+createSlideSwiperRooms(2)
						+createSlideSwiperRooms(3)
						+createSlideSwiperRooms(4)
						+createSlideSwiperRooms(5)
						+createSlideSwiperRooms(6)
						+createSlideSwiperRooms(7)
					.swiper-button-prev
					.swiper-button-next
					.swiper-pagination
	section.page__services.services
		.services__container
			.services__head-wrapper
				.head__column-1
					span.actions__column-second._services
						p.actions__art._services Art & Congress 
						p.actions__art._services hall
					.services__head-images
						img.services__img(src="@img/services/01_head.jpg", alt="services")
						.services__stamp.stamp.stamp-content
							.circular premium rooms. Reikartz hotel
				.head__column-2 
					h1.services__head-title.main__titles._services Our <br> faci <br>
						.title__icon
							h1.services__head-title.main__titles._services._hidden 
								span fai 
						span lities
					.services__head-images
						img.services__img(src="@img/services/01_head.jpg", alt="services")
						.services__stamp.stamp.stamp-content
							.circular premium rooms. Reikartz hotel 
					.head__text-wrapper
						p.services__head-text.text.text-dark. 
							Bank Hotel offers you a wide range of
							additional services and facilities. Visit our restaurant to try exclusive meals,
							book a conference hall to organize a business meeting, or relax in the art-bar.
				.head__column-3
					.services__head-images
						img.services__img(src="@img/services/02_head.jpg", alt="services")
						.services__stamp.stamp
							.circular premium rooms. Reikartz hotel




	//- section.page__banner.banner 
		.banner__container 



			.banner__swiper-wrapper
				.banner__text-wrapper
					.banner__info-card.card__info 
						.card__info-title
							h1.
								High-Quality
								Furniture 
								Just For You
						.card__info-text 
							p. 
								Our furniture is made from selected and best quality materials that are suitable for your dream home
						button.card__info-button.button. 
							Shop Now
							
					.banner__price-card.card__price 
						.swiper__price.swiper-container 
							.swiper-wrapper
								+bannerPrice(0)
								+bannerPrice(1)
								+bannerPrice(2)
								+bannerPrice(3)

				.swiper.swiper-container
					.swiper-wrapper
						.swiper-slide(data-index="0") 
							.swiper-slide-wrapper
								img(src="@img//banner/2.jpg", alt="img", srcset="")
						.swiper-slide(data-index="1")
							.swiper-slide-wrapper
								img(src="@img//banner/1.jpg", alt="img", srcset="")
						.swiper-slide(data-index="2")
							.swiper-slide-wrapper
								img(src="@img//banner/3.png", alt="img", srcset="")
						.swiper-slide(data-index="3")
							.swiper-slide-wrapper
								img(src="@img//banner/1.jpg", alt="img", srcset="")
				.swiper__navigation-wrapper
					.swiper-pagination
					.swiper__button-wrapper
						.swiper-button-prev.arrow-corner.button-p-m.position__button-prev
						.swiper-button-next.arrow-corner.button-p-m.position__button-next
	section.page__products.products 
		.products__container 
			.products__wrapper 
				.products__wrapper-title
					h2 Our Products
					//- form.footer__male-form.card__phone-form#form__phone(action="", method="post") 
					//- 	.footer__male-send-wrapper.card__send-wrapper
					//- 		input#phone.order__form-phone.req.form__one(type="text" name="phone" placeholder="Телефон")
					//- 	button#submit.form-order-btn.form-btn-send(type="submit" name="sab") ми вам зателефонуємо
				.products__wrapper-content.product__content 
					+createCard('0', 50, '_menu-1', '_sub-4')
					+createCard('1', 'new', '_menu-1', '_sub-2')
					+createCard('2', 25, '_menu-2', '_sub-2')
					+createCard('3', 'new', '_menu-3', '_sub-1')
					+createCard('4', null, '_menu-4', '_sub-3')
					+createCard('5', 47, '_menu-2', '_sub-1')
					+createCard('6', 35, '_menu-3', '_sub-1')
					+createCard('7', 12, '_menu-1', '_sub-2')
					+createCard('8', 'new', '_menu-4', '_sub-2')
					+createCard('9', 32, '_menu-2', '_sub-5')
					+createCard('10', 55, '_menu-1', '_sub-4')
					+createCard('11', "new", '_menu-3', '_sub-1')
					
				.button__wrapper
					.product__wrapper-button.button.button__more._scrolling__mode#product__button(data-goto=".button__wrapper") Show Oll
						//- p Show More 
						//- p Hide Cards
	section.page__inspiration.inspiration 
		.inspiration__container 
			.inspiration__wrapper 
				.inspiration__wrapper-text-block 
					h2 50+ Beautiful rooms inspiration
					p Our designer already made a lot of beautiful prototipe of rooms that inspire you
					button.button__more.product__wrapper-button2 Explore More 
				.swiper__two-block
					.swiper__two.swiper-container
						.swiper-wrapper
							+createSlideSwiperTwo('0')
							+createSlideSwiperTwo('1')
							+createSlideSwiperTwo('2')
							+createSlideSwiperTwo('3')
							+createSlideSwiperTwo('4')
							+createSlideSwiperTwo('5')
						//- .swiper__two-button-prev.arrow-corner.button-p-sm.position__button-prev
						.swiper__two-button-next.arrow-corner.button-p-m.position__button-next
						.swiper-pagination_two 
	section.page__tips.tips 
		.tips__container 
			.tips__wrapper 
				.tips__wrapper-title 
					h2 Поради та Підказки
					.swiper__three-block 
						.swiper__three.swiper-container 
							.swiper-wrapper 
								+createSlideSwiperThree('0')
								+createSlideSwiperThree('1')
								+createSlideSwiperThree('2')
								+createSlideSwiperThree('3')
								+createSlideSwiperThree('4')
								+createSlideSwiperThree('5')
							.swiper__three-button-prev.arrow-corner.button-p-m.position__button-prev
							.swiper__three-button-next.arrow-corner.button-p-m.position__button-next
							.swiper-pagination_three 
	section.page__furniture.furniture 
		.furniture__title-block 
			p погляньте як зробили
			h2 #НашіКлієнти
		.furniture__img-wrapper
			.furniture__img-wrapper-left.left.furniture__rows
				.left__row-top.row__flex-column.top
					+createGalleryBlocks(0)(class='furniture__img-wrapper-blocks-0')
					+createGalleryBlocks(1)(class='furniture__img-wrapper-blocks-1')
				.left__row-bottom.row__flex-column.bottom
					+createGalleryBlocks(2)(class='furniture__img-wrapper-blocks-2')
					+createGalleryBlocks(3)(class='furniture__img-wrapper-blocks-3')
			//- .furniture__img-wrapper-center.center.furniture__rows(data-da="._remove-row, 700, 2")
			.furniture__img-wrapper-center.center.furniture__rows
				.center__row-top.row__flex-column.center
					+createGalleryBlocks(4)(class='furniture__img-wrapper-blocks-4')
			.furniture__img-wrapper-right.right.furniture__rows._remove-row
				.right__row-top.row__flex-column.top
					+createGalleryBlocks(5)(class='furniture__img-wrapper-blocks-5')
					+createGalleryBlocks(6)(class='furniture__img-wrapper-blocks-6')
				.right__row-bottom.row__flex-column.bottom
					+createGalleryBlocks(7)(class='furniture__img-wrapper-blocks-7')
					+createGalleryBlocks(8)(class='furniture__img-wrapper-blocks-8')
	section.popup#popup 
		.popup__body.popup__container 
			.popup__content
				//- span.close__btn.close-popup#close-popup
				.popup__content-wrapper 
					.footer__blocks.card__phone#card__phone
						form.footer__male-form.card__phone-form(action="", method="post", id="form__phone", data-id="form__phone", class="checked__id-phone") 
							.footer__male-send-wrapper.card__send-wrapper
								.input__wrapper 
									input.order__form-phone.req.form__one(type="tel" name="phone" placeholder="Телефон", data-id="input__phone", class="checked__id-phone", class="input__phone")
								//- .input__wrapper 
								//- 	input.order__form-phone.req.form__one(type="tel" name="phone" placeholder="Телефон 2", data-id="input__" + number, class="checked__id-" + number, class="input__" + number)
								//- .input__wrapper 	
								//- 	input.order__form-phone.form__one(type="tel" name="phone" placeholder="Телефон 2", data-id="input__" + number, class="checked__id-" + number, class="input__" + number)
							button.form-order-btn.form-btn-send(type="submit" name="sab", id="button__phone", data-id="button__phone", class="checked__id-phone") ми вам зателефонуємо
	section.popup.popup__form#popupFormWarning 
		.popup__body
			.popup__form-content 
				.icons__wrap.icon-wrap-warning
					.icons__popup.icons-popup-warning ! 
				.popup__title 
					p Матінко рідна!
				.popup__text 
					p Ви забули вказати номер телефону
				.button__wrapper 
					button.popup__close.close-popup(href="") OK
	section.popup.popup__form#popupError 
		.popup__body
			.popup__form-error.popup__form-content
				.icons__wrap.icons-wrap-error
					.icons-line-error 
						span.icons__error.line__left 
						span.icons__error.line__right 
				.popup__title 
					p Ой лишенько!
				.popup__text 
					p Сталась помилка з відпраправкою запиту
				.button__wrapper 
					button.popup__close.close-popup(href="") OK
	section.popup.popup__form._close__popup-anchor#popupFormError 
		.popup__body
			.popup__form-error.popup__form-content
				.icons__wrap.icons-wrap-error
					.icons-line-error 
						span.icons__error.line__left 
						span.icons__error.line__right 
				.popup__title 
					p Ой лишенько!
				.popup__text 
					p Сталась помилка з відпраправкою запиту
				.button__wrapper 
					button.popup__close.close-popup(href="") OK
	section.popup.popup__form#popupSuccess 
		.popup__body
			.popup__form-success.popup__form-content 
				.icons__wrap.icons-wrap-success
					.icons-line-success 
						span.icons__error.line__small 
						span.icons__error.line__big 
						.success-ring
						.success-fix
						.success-circular-line-right
				.popup__title 
					p Все круто!
				.popup__text 
					p З Вами скоро зв'яжуться!
				.button__wrapper 
					button.popup__close.close-popup(href="") OK
	section.popup.popup__form._close__popup-anchor#popupFormSuccess 
		.popup__body
			.popup__form-success.popup__form-content 
				.icons__wrap.icons-wrap-success
					.icons-line-success 
						span.icons__error.line__small 
						span.icons__error.line__big 
						.success-ring
						.success-fix
						.success-circular-line-right
				.popup__title 
					p Все круто!
				.popup__text 
					p Про новинки повідомлятимемо Вас на пошту!
				.button__wrapper 
					button.popup__close.close-popup(href="") OK
	section.popup.popup__form._close__popup-anchor#popupFormLikeSorting
		.popup__body
			.popup__form-content 
				.icons__wrap.icon-wrap-warning
					.icons__popup.icons-popup-warning ! 
				.popup__title 
					p Ну Ви даєте!
				.popup__text 
					p Ви ж не обрали жодного улюбленого товару
				.button__wrapper 
					button.popup__close.close-popup(href="") OK
	section.popup.popup__form._close__popup-anchor#popupFormEmailWarning 
		.popup__body
			.popup__form-content 
				.icons__wrap.icon-wrap-warning
					.icons__popup.icons-popup-warning ! 
				.popup__title 
					p Матінко рідна!
				.popup__text 
					p Ви забули вказати електронну адресу
				.button__wrapper 
					button.popup__close.close-popup(href="") OK
	



