//- ========================== HEADER ==========================

mixin createLists(number, scrollClass)
	if(menuList[number] && newPageLink[number])
		li.header__menu-link
			a(href=newPageLink[number])
				p.menu__link(data-goto=scrollClass)= menuList[number]
	else if(menuList[number] && newPageLink[number] === undefined)
		li.header__menu-link
			p.menu__link(data-goto=scrollClass)= menuList[number]
			


mixin menu()
	nav.menu__body-wrapper 
		ul.header__menu-list(class=attributes.class)
			+createLists('0', '._home')
			+createLists('1', '._about')
			+createLists('2', '._rooms')
			+createLists('3', '._restaurant')
			+createLists('4', '._conference')
			+createLists('5', '._contacts')

mixin socialList()
	li.social__link(class=socialClass[number])
		a.social__link-text(href=socialLink[number])
			p=socialName[number]
//- ============================================================
//- ========================== BUTTONS DECOR ====================
mixin buttonSmall()
	span.line__button.line-1 
	span.line__button.line-2
	span.line__button.line-3
	span.line__button.line-4

mixin buttonBig()
	span.line__button.line-1 
	span.line__button.line-2
	span.line__button.line-3
	span.line__button.line-4
	span.line__button.line-5

//-============================ ROOMS ============================================
//-================================================================================
//- -
//- 	let roomsTitleFirstWord = [
//- 		"Покращений",
//- 	]

//- -
//- 	let roomsTitleSecondWord = [
//- 		"двомісний",
//- 	]
	
//- -
//- 	let roomsBannerText = [
//- 		"All room decoration was made with ecological certified and safe materials.",
//- 	]

//- -
//- 	let roomsBannerImg = [
//- 		"@img/twinroom/banner_01.jpg",
//- 	]

//- -
//- 	let roomsBannerAlt = [
//- 		"twin__room",
//- 	]
//- ================================================================================


mixin createRoomPage(number)
	section.page__main.main.rooms__page
		.best__images.rooms__page.twin__room
			img.best__img.rooms__page.twin__room(src=roomsBannerImg[number], alt=roomsAltImg[number])
		.best__sinus-wrapper.rooms__page
			img.best__sinus(src="@img/icons/sinus.svg", alt="sinus")
		.best__container.rooms__page
			h1.best__head-title.main__titles._services.title__bigger._rooms_scroll=roomsTitleFirstWord[number] 
				<br>
				=roomsTitleSecondWord[number]
			.best__text-wrapper.rooms__page-text-wrapper
				p.best__content-text.text.big-text.rooms__page-big-text=roomsBannerText[number]
			.rooms__info-button.button._big.button__big-yellow.rooms__page(get_popup="#popup-message")
				p.yellow__button обрати номер
				+buttonBig()
	section.rooms__about.about__twin._rooms-pages
		.rooms-page__container-small
			.smaller__small-container
				span.date__hotel.rooms__page(data-da="._rooms__pages-content, 767.98, 1")
					img(src="@img/icons/Star_ellow.svg", alt="star")
					p з 2023 року
				.rooms__pages-content._rooms__pages-content
					.rooms__pages-title
						h3 Усі апартаменти мають унікальний дизайн, тому що ми хочемо, щоб кожен наш гість почувався особливим.
					.rooms__pages-text-wrapper
						.rooms__pages-text.text
							p=roomsContentFirstText[number]
				.rooms__pages-name
					p=roomsName[number]
				.rooms__pages-images(data-da="._rooms-pages, 1023.98, 1")
					img(src=roomsContentFirstImg[number], alt=roomsAltImg[number])
	section.rooms__details
		.details__container-small
			.details__column-wrapper
				.details__column-1
					.details__images.details__images-1
						img.details__img(src=roomsContentSecondImg[number], alt=roomsContentFirstAltImg[number])
						.about__stamp.stamp.stamp-img.rooms__pages-stamp(data-da="._rooms__get-stamp, 767, 1")
							.circular.text-dark premium rooms. Reikartz hotel
							img.stamp__rotate(src="@img/icons/icon.svg", alt="icon_stamp")
					.details__title.rooms__pages-title.text-dark
						h3=roomsTitleFirstWord[number]
							<br>
								=roomsTitleSecondWord[number]
					.details__text.rooms__pages-text.text.text-dark
						p._rooms__get-stamp=roomsContentSecondText[number]
				.details__column-2
					.details__images.details__images-2
						img.details__img(src=roomsContentThirdImg[number], alt=roomsContentSecondAltImg[number])
					.details__text.rooms__pages-text.text.text-dark
						p._rooms__get-stamp=roomsContentThirdText[number]
				button.date__hotel.rooms__page.check__oll-rooms
					a(href="index.html")
						p.button__rooms-page-text /Book room
					

//-================================================================================


//- =========================== SWIPER ROOMS ==============

mixin createSlideSwiperRooms(number)
	.swiper-slide 
		.slide__wrapper
			.slide__wrapper-rows 
				.slide__row-1.button__wrapper-transparent
					.rooms__images._small
						img.rooms__img._small(src="@img/rooms/rooms_small-1.jpg", alt="rooms")
					a.position__mode(href=roomsLinks[number])
						.rooms__info-button.button._big._transparent 
							+buttonBig()
				.slide__row-2 
					span.date__hotel._rooms-date
						img(src="@img/icons/Star_ellow.svg", alt="star")
						p з 2023 року
					.slide__content-text-wrapper 
						h3.slide__content-title.main__sub-titles._rooms=swiperRoomsTitle[number]
						p.slide__content-text.text=swiperRoomsText[number]
			.slide__row-3 
				.image__slider-wrapper
					img.slider__img(src="@img/rooms/rooms_big-1.jpg", alt="rooms")
					.rooms__info-button.button._big.button__big-yellow(get_popup="#popup-message")
						p.yellow__button обрати номер
						+buttonBig()

//- ===========================================================================
//- ============================ SERVICES CARD =================================
mixin createServices(number, scrollClass)
	.services__content-rows(class="services__content-row-" + number, class=scrollClass)
		.hidden-row-wrapper
			.hidden__row._hidden(class=".hidden__row-" + number, id="hidden-row-" + number)
				.hidden__content-wrapper
					.hidden__text-button-wrapper
						.services__button.button__wrapper-transparent
							.rooms__info-button.button._big._transparent._hide-services-content._rotate(data-close="content-row" + number + "-close")
								+buttonBig()
						.hidden__content
							.hidden__content-number.services__sub-title=servicesNumber[number]
							h1.hidden__content-title.services__sub-title._mb=servicesTitleFirstHidden[number]
								<br>
								=servicesTitleSecondHidden[number]
							p.hidden__content-text.text.text-dark.text__max-width=servicesText[number]
				.hidden__images
					img(src=src=servicesBigImg[number], alt="img")
		.content__row-wrapper
			.content-row._show-services(class="content__row-" + number, id="content-row" + number + "-close")
				.content__images-wrapper
					img(src=servicesImg[number], alt="img", class="content__img")
				.services__title-wrapper
					.services__content-number.services__sub-title=servicesNumber[number]
					a(href="#")
						h1.services__content-title.services__sub-title=servicesTitleOllShow[number]
				.services__content-arrow
					span(class="_show-services hidden-row-" + number)
//- ===========================================================================
//- =========================== SWIPER TWO SLIDES VAR ==============

mixin createSlideSwiperTwo(number)
	.swiper-slide 
		.swiper-slide-wrapper
			img(src=swiperTwoImgArray[number], alt=altSwiperTwoImgArray[number], srcset="")
		.info-block__text-block 
			p.categories__name= swiperTwoCtgName[number]
			h4.product__name= swiperTwoPrdName[number] 
			.arrow__wrapper 
				.arrow__wrapper-arrow
					span  
//- ===========================================================================

//- =========================== SWIPER THREE SLIDES VAR ==============

mixin createSlideSwiperThree(number)
	.swiper-slide 
		.swiper-slide-wrapper
			img(src=swiperThreeImgArray[number], alt=altSwiperThreeImgArray[number], srcset="")
		.info-block__text-block 
			h5.categories__name= swiperThreeCtgName[number] 
			p.posts__date= swiperThreeDate[number] 
//- ===========================================================================

//- =========================== GALLERY =======================================

mixin createGalleryBlocks(number)
	.furniture__img-wrapper-blocks(class=attributes.class)
		.img__wrapper-popup 
		img(src=galleryImgArray[number], alt=altGalleryImgArray[number], srcset="")

//- ===========================================================================
